<div id="header">



	


<!--<ul id="ticker01">
    <li>Text 1</li>
	</ul>
 -->


 <div class="large-6 large-offset-3 small-12 small-offset-0 columns content">
<h1>SafeHaven</h1>
<div id="demo1" class="row">

	<div class="item large-12 columns">
		<div class="panel">
			<div class="animated">
				<div><%= image_tag("brain.png", size: "350x279", alt: "Brain")%></div>
				<h2>Your Life</h2>
			</div>
		</div>
	</div>

	<div class="item large-12 columns">
		<div class="panel">
			<div class="animated">
				<div><%= image_tag("brain-blue.png", size: "350x279", alt: "Brain")%></div>
				<h2>Your Home</h2>
			</div>
		</div>
	</div>

	<div class="item large-12 columns">
		<div class="panel">
			<div class="animated">
				<div><%= image_tag("brain-orange.png", size: "350x279", alt: "Brain")%></div>
				<h2>Our Help</h2>
			</div>
		</div>
	</div>

	<div class="item large-12 columns">
		<div class="panel">
			<div class="animated">
				<div><%= image_tag("brain-purple.png", size: "350x279", alt: "Brain")%></div>
				<h2>Peace of Mind</h2>
			</div>
		</div>
	</div>

	<div class="item large-12 columns">
		<div class="panel">
			<div class="animated">
				<div><%= image_tag("brain-white.png", size: "350x279", alt: "Brain")%></div>
				<h2>Lorem 5</h2>
			</div>
		</div>
	</div>
</div>
	<%= link_to 'Tags', tags_path, class: 'button success small radius right' %>
</div>
