
<div class="row">

<p id="notice"><%= notice %></p>

<% if @tag.note != "" %> 
  <%= render 'note' %>
<% end %>
<% if @tag.url != "" %>
  <%= render 'url' %> 
<% end %>
<% if @tag.image != "" %> 
  <%= render 'image' %>
<% end %>
<% if @tag.audio != "" %>
  <%= render 'audio'%> 
<% end %>
<% if @tag.video != "" %> 
  <%= render 'video' %>
<% end %>
<% if @tag.phone != "" %> 
  <%= render 'phone' %>
<% end %>

<%= link_to 'Back', tags_path %>
<%= link_to 'Edit', edit_tag_path(@tag) %>

</div>