<link href='http://fonts.googleapis.com/css?family=Bentham' rel='stylesheet' type='text/css'>
<script type="text/javascript">
  $('body').css('background','#14110E');
  $('.note').css('color','#EBE6E2');
  </script>

<p id="notice"><%= notice %></p>

<div class="margin-10"></div>
<div class="row">


  

<!--   <p>
    <strong>Location:</strong>
    <%#= @tag.location %>
  </p>

  <p>
    <strong>Note:</strong>
    <%#= @tag.note %>
  </p> -->


 <!--  <p>
    <strong>Url:</strong>
    # <a href ="<%#= @tag.url %>"><%#= @tag.url %></a>
  </p> -->

  <% if @tag.note != "" %> 
    <div class="medium-10 medium-offset-1 columns tag">
    <%= render 'note' %>
    </div>
  <% end %>


  <% if @tag.url != "" %>
    <div class="medium-10 medium-offset-1 columns tag">
    <%= render 'url' %> 
    </div>
  <% end %>


  <% unless @tag.image %> 
    <div class="medium-10 medium-offset-1 columns tag">
    <%= render 'image' %>
    </div>
  <% end %>


  <% if @tag.audio != "" %>
    <div class="medium-10 medium-offset-1 columns tag">
    <%= render 'audio'%> 
    </div>
  <% end %>


  <% if @tag.video != "" %> 
    <div class="medium-10 medium-offset-1 columns tag">
    <%= render 'video' %>
    </div>
  <% end %>


  <% if @tag.phone != "" %> 
    <div class="medium-10 medium-offset-1 columns tag">
    <%= render 'phone' %>
    </div>
  <% end %>


  <%= link_to 'Edit', edit_tag_path(@tag) %> |
  <%= link_to 'Back', tags_path %>

</div>
</div>

<script type="text/javascript">

  
  $(".note").css("font-size", (Math.floor($(window).width()/12)+'px'));
  // $(window).addEventListener("resize", function(){
  //   $(".note").css("font-size", (Math.floor($(window).width()/48)+'px'));});
</script>