<div class="margin-10"></div>
<div class="row">

<div class="medium-10 medium-offset-1 columns tag">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Location:</strong>
    <%= @tag.location %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= @tag.note %>
  </p>


  <p>
    <strong>Url:</strong>
    <a href ="<%= @tag.url %>"><%= @tag.url %></a>
  </p>

  <% if @tag.note != "" %> 
    <%= render 'note' %>
  <% elsif %>
    <p></p>
  <% end %>
  <% if @tag.url != "" %>
    <%= render 'url' %> 
  <% elsif %>
    <p></p>
  <% end %>
  <% if @tag.image != "" %> 
    <%= render 'image' %>
  <% elsif %>
    <p></p>
  <% end %>
  <% if @tag.audio != "" %>
    <%= render 'audio'%> 
  <% elsif %>
    <p></p>
  <% end %>
  <% if @tag.video != "" %> 
    <%= render 'video' %>
  <% elsif %>
    <p></p>
  <% end %>
  <% if @tag.phone != "" %> 
    <%= render 'phone' %>
  <% elsif %>
    <p></p>
  <% end %>

<!-- 
  <p>
    <strong>Audio:</strong><br>
    <audio controls><source src="<%= @tag.audio %>" type="audio/mpeg"></audio>
  </p>

  <p>
    <strong>Video:</strong>
    <iframe width="560" height="315" src="//<%= @tag.video %>"frameborder="0" allowfullscreen></iframe>
  </p>

  <p>
    <strong>Image:</strong>
    <img src="<%= @tag.image %>">
  </p> -->

  <%= link_to 'Edit', edit_tag_path(@tag) %> |
  <%= link_to 'Back', tags_path %>

  </div>
</div>